/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(46, 46, 46);
  color: white;
  font-family: "Comfortaa", cursive;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  border: none;
}

button:focus {
  outline: none;
}

input[type="text"],
input[type="search"] {
  background-color: rgb(46, 46, 46);
  color: white;
  border: none;
  border-bottom: 1px solid gray;
  text-align: center;
}

/* ****** LOGIN PAGE ****** */

#logo-cover {
  position: relative;
  font-family: "League Script", cursive;
  font-size: 80pt;
  margin: 0px;
  /* top: 40px; */
}

#login-page {
  position: relative;
  text-align: center;
  top: 100px;
}

/* ****** LIBRARY PAGE ****** */

.library {
  display: inline-block;
  width: auto;
  padding: 2px;
}

.library-img {
  height: 250px;
  width: auto;
}

/* ****** FILTER/SEARCH ****** */

#filtered-library {
  margin: 5px 3px;
}

#filter-rating-div {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#filter-search-rating-div,
#filter-buttons-div,
#filter-buttons-div {
  display: flex;
  flex-direction: row;
}

#filter-title,
#filter-radios {
  padding-right: 20px;
}

#search-results-title {
  padding-top: 10px;
  padding-left: 500px;
  color: gray;
}

#filter-results-title {
  color: gray;
  padding-left: 500px;
  padding-top: 20px;
}

/* ****** NAV BAR ****** */

.navbar {
  background-color: rgb(46, 46, 46);
  padding: 0rem 2rem;
  border-bottom: 1px solid gray;
  color: white;
}

#logo {
  font-family: "League Script", cursive;
  font-size: 40pt;
}

#search-div {
  display: flex;
  justify-content: row;
}


#search-box:focus {
  outline: 1px solid white;
}

#search-box {
  background-color: rgb(46, 46, 46);
  border-color: white;
  outline: white;
	box-shadow: none;
}


#filter-button {
  padding-top: 5px;
}

/* ****** PHOTO DETAIL PAGE ****** */

#photo-column {
  display: flex;
  justify-content: center;
}

#selected-photo-div {
  display: flex;
  justify-content: center;
  margin: 0px;
  max-height: 90vh;
}

#selected-photo-div:hover #delete {
  opacity: 1;
}

#delete {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 30px;
  top: 30px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.large-photo {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

#previous-column {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100px;
  height: 100%;
  left: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

#photo-column:hover #previous-column {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}

#previous-button-div,
#next-button-div {
  display: flex;
  align-self: center;
}

#previous,
#next {
  outline: none;
}

#next-column {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100px;
  height: 100%;
  left: 93%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

#photo-column:hover #next-column {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
}

#album-plus {
  display: flex;
  justify-content: space-between;
}

#add-to-album-title {
  color: grey;
}

#album-title {
  cursor: pointer;
}


.add-to-album-selection {
  display: flex;
  height: 3em;
  align-items: center;
  border-radius: 2px;
  padding: 0em 1em;
  margin: 0px;
}


.add-to-album-selection:hover {
  background-color: rgb(66, 66, 66);
  cursor: pointer;
  text-decoration: none;
}


.card {
  border: none;
}

/* ****** ALBUM PAGE ****** */

#album-name-div {
  margin-top: 15px;
  text-align: center;
  padding-right: 300px;
  color: gray;
}

#remove-icon {
  position: relative;
  padding: 0px;
  text-align: center;
  width: 21px;
  height: 21px;
  left: 14px;
  top: 40px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
  outline: none;
}

#album-library-img:hover #remove-icon {
  opacity: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
/* ****** STAR RATINGS ****** */

.rating-stars {
  font-size: 1.5em;
}

#star-radios .star-rating {
  display: inline-flex;
  flex-direction: row-reverse;
}

#star-radios input,
#star-radios textarea {
  background: none repeat scroll 0 0 #333333;
  border: 0 none;
  color: #fff;
  margin: 0;
  max-width: 100%;
  padding: 7px 4px;
}

#star-radios .radio {
  display: inline-block;
}

#star-radios input[type="radio"] {
  display: none;
} /* renders radio buttons invisible */

#star-radios input[type="radio"] + label {
  display: block;
}

#star-radios input[type="radio"] + .label_star:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 8px;
  width: 23px;
}

#star-radios input[type="radio"] + .label_star::before {
  content: "\f006";
} /* Radio Unchecked */

#star-radios input[type="radio"]:checked ~ .label_star::before {
  content: "\f005";
} /* Radio Checked */

/* RADIO BUTTONS FOR FILTER RATINGS (EQUAL/GREATER/LESS) */
#filter-radios input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

#filter-radios [type="radio"] + #icon {
  cursor: pointer;
}

/* CHECKED STYLES */
#filter-radios [type="radio"]:checked + #icon {
  outline: 1px solid white;
  border-radius: 50%;
}

/* ****** SIDEBAR ****** */

#side-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* NOT WORKING */

.flex-container-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#add-photo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
  font-size: 15px;
}

#upload-photo-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: gray;
}

.plus-button:hover {
  border: 1px solid white;
  outline: 1px solid white;
  border-radius: 2px;
}

#photo-upload-button {
  position: absolute;
  font-size: 5px;
  left: 250px;
  top: 30px;
  opacity: 0;
  height: 20px;
  width: 20px;
}

#photo-upload-button:hover {
  cursor: pointer;
}

#upload-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#add-photo-button {
  color: white;
  border: 1px solid white;
  margin: 2em 0em 0em 0em;
}

#album-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
  font-size: 15px;
}

#add-album-div {
  display: flex;
  padding-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
  color: gray;
}

.individual-album-div {
  display: flex;
  height: 3em;
  align-items: center;
  border-radius: 2px;
  padding: 0em 1em;
}
.individual-album-div:hover {
  background-color: rgb(66, 66, 66);
}

#rating-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
}

#sidebar-star-span {
  margin-top: 25px;
}

#add-to-album-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
}

#dropdown-icon {
  padding-top: 6px;
}

#tags-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
}

#tags-plus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: gray;
}

.card {
  background-color: rgb(46, 46, 46);
}

/* ****** MODALS ****** */

.modal-header {
  background-color: rgba(255, 255, 255, 0.192);
  text-align: center;
}

#modal-header-library {
  background-color: rgb(46, 46, 46);
}

.modal-body {
  background-color: rgba(255, 255, 255, 0.192);
  text-align: center;
}

#modal-body-library {
  background-color: rgb(46, 46, 46);
}

.modal-fade {
  z-index: 100;
}

.modal .title {
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.loginpage-modal {
  background-color: rgba(255, 255, 255, 0.192);
}

/* ****** DELETE TAG ****** */

#delete-tag-button {
  background-color: #333;
  border: none;
}

#individual-tag-div {
  padding-top: 1em;
}

#individual-tag-div li {
  display: inline-block;
  padding: 0 20px;
}

#individual-tag-div span {
  position: relative;
  display: block;
  cursor: pointer;
  color: white;
}

#individual-tag-div span:before,
span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

#individual-tag-div span:before {
  left: -2.5px;
}
#individual-tag-div span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#individual-tag-div span:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#individual-tag-div span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


/* ######################################################################################################## */
/* #############################################TOASTR################################################### */
/* ######################################################################################################## */

/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #a1a1a1;
  pointer-events: auto;
}
.toast-success {
  background-color: #505050;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

