body {
  background-color: rgb(46, 46, 46);
  color: white;
  font-family: 'Comfortaa', cursive;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: auto;
}

a {
color: inherit;
text-decoration: none;
}

a:hover {
color: white;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}


/* ****** LOGIN PAGE ****** */


#logo-cover {
  position: relative;
  font-family: 'League Script', cursive;
  font-size: 80pt;
  margin: 0px;
  /* top: 40px; */
}

#login-page {
  position: relative;
  text-align: center;
  top: 100px;
}


/* ****** LIBRARY PAGE ****** */

.library-img {
    height: 250px;
    width: auto;
}

.library {
    display: inline-block;
}


/* ****** FILTER ****** */

#filtered-library {
  margin: 5px 3px;
}

#filter-rating-div {
  padding: 20px 0px;
}


/* ****** NAV BAR ****** */

.navbar {
    background-color: rgb(29, 29, 29);
    padding: 0rem 2rem;
}

#logo {
  font-family: 'League Script', cursive;
  font-size: 40pt;
}


/* ****** PHOTO DETAIL PAGE ****** */

#photo-column {
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: honeydew;
}

#photo-column:hover #delete {
  opacity: 1;
  box-shadow: 0px 8px 15px black;
  border-radius: 50%;
  background-color:rgba(0,0,0,.15);
}

#delete {
  position: absolute;
  width: 60px;
  height: 60px;
  left:50px;
  top: 50px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

#large-photo {
  max-height: 1100px;
  max-width: 100%;
  height: auto;
}


#previous-column {
  position: absolute;
  width: 100px;
  height: 1100px;
  left:0px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

#photo-column:hover #previous-column {
  opacity: 1;
  background-color:rgba(0,0,0,.15);
}

#previous-button-div #next-button-div {
  height: 500px;
}

#next-column {
  position: absolute;
  width: 100px;
  height: 1100px;
  left: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

#photo-column:hover #next-column {
  opacity: 1;
  background-color:rgba(0,0,0,.15);
}


/* ****** STAR RATINGS ****** */

#review-form .star-rating {
  display: inline-flex;
  flex-direction: row-reverse;
}

#review-form input,
#review-form textarea {
  background: none repeat scroll 0 0 #333333;
  border: 0 none;
  color: #fff;
  margin: 0;
  max-width: 100%;
  padding: 7px 4px;
}

#review-form .radio {
  display: inline-block;
}

#review-form input[type=radio] {
  display: none;
} /* renders radio buttons invisible */

#review-form input[type=radio] + label {
  display: block;
}

#review-form input[type='radio'] + .label_star:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 8px;
  width: 23px;
}

#review-form input[type=radio] + .label_star::before {
  content: "\f006";
} /* Radio Unchecked */

#review-form input[type=radio]:checked ~ .label_star::before {
  content: "\f005";
} /* Radio Checked */


/* ****** SIDEBAR ****** */

#side-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* NOT WORKING */

.flex-container-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#add-photo-div {
  padding: 20px;
  border: 1px solid gray;
  color: gray;
  margin: 10px;
}

  #upload-photo-button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

    #photo-upload-button{
      position: absolute;
      font-size: 50px;
      right: 0;
      top: 0;
      opacity: 0;
    }

      #upload-button {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }

  #add-photo-button {
    color: white;
    border: 1px solid white;
    margin: 2em 0em 0em 0em;
  }

#album-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
  font-size: 15px;
}

  #add-album-div {
    display: flex;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
  }

#rating-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
}

#add-to-album-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
}

#tags-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  /* border: 1px solid gray; */
  margin: 10px;
}

  #tags-plus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.card {
  background-color: rgb(46, 46, 46);
}

#rename-album-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
}


/* ****** MODALS ****** */

.modal-header {
  background-color: rgba(255, 255, 255, 0.192);
  text-align: center;
}

#modal-header-library {
  background-color: rgb(46, 46, 46);
}

.modal-body {
  background-color: rgba(255, 255, 255, 0.192);
  text-align: center;
}

#modal-body-library {
  background-color:  rgb(46, 46, 46);
}

 .modal-fade{
  z-index: 100;
}

.modal .title {
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.loginpage-modal {
  background-color: rgba(255, 255, 255, 0.192);
}

