.library-img {
    height: 250px;
    width: auto;
}

.library {
    display: inline-block;
}

#filtered-library {
  margin: 5px 3px;
}

body {
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: 'Comfortaa', cursive;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
  }

#logo {
  font-family: 'League Script', cursive;
  font-size: 40pt;
}

.navbar {
    background-color: rgb(29, 29, 29);
    padding: 0rem 2rem;
}

#album-link {
    color: white;
  }

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.img-fluid {
    max-height: 700px;
    max-width: 100%;
    height: auto;
}


#review-form .star-rating {
  display: inline-flex;
  flex-direction: row-reverse;
}

#review-form input,
#review-form textarea {
  background: none repeat scroll 0 0 #333333;
  border: 0 none;
  color: #fff;
  margin: 0;
  max-width: 100%;
  padding: 7px 4px;
}
#review-form .radio {
  display: inline-block;
}
#review-form input[type=radio] {
  display: none;
} /* renders radio buttons invisible */

#review-form input[type=radio] + label {
  display: block;
}

#review-form input[type='radio'] + .label_star:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 8px;
  width: 23px;
}

#review-form input[type=radio] + .label_star::before {
  content: "\f006";
} /* Radio Unchecked */

#review-form input[type=radio]:checked ~ .label_star::before {
  content: "\f005";
} /* Radio Checked */

#photo-upload-button{
  position: absolute;
  font-size: 50px;
  right: 0;
  top: 0;
  opacity: 0;
}

.modal-header {
  background-color: rgb(135, 139, 138);
}

.modal-body {
  background-color: rgb(46, 46, 46);
}
 .modal-fade{
  z-index: 100;
}

#side-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* NOT WORKING */


.flex-container-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#add-photo-div {
  padding: 20px;
  border: 1px solid gray;
  color: gray;
  margin: 10px;
}

#upload-photo-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#add-photo-button {
  color: white;
  border: 1px solid white;
  margin: 2em 0em 0em 0em;
}

#upload-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#add-album-div {
  display: flex;
  padding-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
  color: gray;
 }

 #album-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
  font-size: 15px;
}

#rating-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
}

#add-to-album-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
}

#tags-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  /* border: 1px solid gray; */
  margin: 10px;
}

#filter-rating-div {
  padding: 20px 0px;
}

.card {
  background-color: rgb(46, 46, 46);
}

#tags-plus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#rename-album-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
}

#photo-column {
  display: flex;
  margin: 0px;
}

#photo-column:hover #delete {
  opacity: 1;
  box-shadow: 0px 8px 15px black;
  border-radius: 50%;
}

#delete {
  position: absolute;
  width: 60px;
  height: 60px;
  left:50px;
  top: 50px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

