.library-img {
    height: 250px;
    width: auto;
}

.library {
    display: inline-block;
}

/* #large-photo {
    /* height:800px;
    width:auto;
} */

body {
    background-color: rgb(46, 46, 46);
    color: white;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Comfortaa', cursive;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

#logo {
  font-family: 'League Script', cursive;
  font-size: 40pt;
}

.navbar {
    background-color: rgb(29, 29, 29);
    padding: 2rem 2rem;
}

#album-link {
    color: white;
  }

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.img-fluid {
    max-height: 700px;
    max-width: 100%;
    height: auto;
}

/* input[type="radio"] {
    -webkit-appearance:none;
} */

/* input[type="radio"]:before {
    color: white
} */

/* #star {
    height: 25px;
    width: 25px;
    border:none;
    color: white;
}

.radio-buttons:checked + label{
    color: tomato;
    } */

/* .radio-star{
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    content: "\f005";
    font-family: 'FontAwesome';
} */

/* .radio-star:checked{
    content: "\f005";
    font-family: 'FontAwesome';
    color: rgb(223, 12, 12);
} */


  #review-form .star-rating {
    display: inline-flex;
    flex-direction: row-reverse;
  }

  #review-form input,
  #review-form textarea {
    background: none repeat scroll 0 0 #333333;
    border: 0 none;
    color: #fff;
    margin: 0;
    max-width: 100%;
    padding: 7px 4px;
  }
  #review-form .radio {
    display: inline-block;
  }
  #review-form input[type=radio] {
    display: none;
  } /* renders radio buttons invisible */

  #review-form input[type=radio] + label {
    display: block;
  }

  #review-form input[type='radio'] + .label_star:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 8px;
    width: 23px;
  }

  #review-form input[type=radio] + .label_star::before {
    content: "\f006";
  } /* Radio Unchecked */

  #review-form input[type=radio]:checked ~ .label_star::before {
    content: "\f005";
  } /* Radio Checked */


