<div id="photo-column">
    <div id="selected-photo-div">
        <img class="large-photo" src="{{ photo.path }}">
        <div id="previous-column">
            <div id="previous-button-div">
                <button (click)="previous()" id="previous">
                    <fa-icon [icon]="faChevronLeft" class="fa-3x"></fa-icon>
                </button>
            </div>
        </div>
        <div id="next-column">
            <div id="next-button-div">
                <button (click)="next()" id="next">
                    <fa-icon [icon]="faChevronRight" class="fa-3x"></fa-icon>
                </button>
            </div>
        </div>

        <button id="delete">
            <fa-icon [icon]="faTrashAlt" class="fa-2x"></fa-icon>
        </button>

    </div>
</div>