<div id="photo-column">
    <div id="selected-photo-div">
        <img class="large-photo" src="{{ photo.path }}">
        <div id="previous-column">
            <div id="previous-button-div">
                <button (click)="previous()" id="previous"> previous
                </button>
            </div>
        </div>
        <div id="next-column">
            <div id="next-button-div">
                <button (click)="next()" id="next">next</button>
            </div>
        </div>
        <!-- <form action="/delete_photo/{{photo.photo_id}}" , method="POST">
            <button id="delete"><i class="far fa-trash-alt fa-2x" style="color:white" data-toggle="tooltip"
                    data-placement="bottom" title="Delete"></i></button>
        </form> -->
    </div>
</div>