<div id="tags-div">
    <div id="tags-plus">
        TAGS
        <button type="button" class="plus-button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample" data-toggle="tooltip" data-placement="bottom" title="Add new tag">
            +
        </button>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card">
            <div class="card-body">
                <!-- <form id="add-tag-form">
                    <input type="text" placeholder="ADD TAG" name="tag-text">
                    <button id='add-tag'></button>
                </form> -->
                <p><input [(ngModel)]="newTagword" type="text" placeholder="ADD TAG" name="new_tagword"
                        id="add-tag-button" onfocus="value=''" (keyup.enter)="assignTag()"></p>
            </div>
        </div>
    </div>

    <div *ngFor="let tag of tags" id="individual-tag-div">
        <div>
            {{ tag.tagword }}
        </div>
    </div>
</div>