<div id="add-photo-div">
    <div id="upload-photo-button-div" data-toggle="tooltip" data-placement="bottom" title="Choose file"
        enctype="multipart/form-data">
        UPLOAD PHOTO
        <div class="fileinput">
            <input type="file" class="file" id="photo-upload-button" name="photo" (change)=fileChangeEvent($event)>
            <div class="fakefile">
                <button class="plus-button">+</button>
            </div>

            <div *ngIf="photo">
                <img src="photo">
            </div>
        </div>
    </div>
</div>