{% extends 'base.html' %}

{% block title %}
{{ album.name }}
{% endblock %}


{% block sidebar %}

{% endblock %}


{% block body %}
<div id="album-name-div">
  <h1 id="album-title"><em>{{ album.name }}</em></h1>
  <div id="rename-album-div" class="hidden">
    <form action="/rename-album/{{ album.album_id }}" method="POST">
      <input type="text" id="rename-album-textbox" placeholder="Rename album" name="rename-album">
    </form>
  </div>
</div>

  {% for photo in photoalbum %}
    <div class="library" id="album-library-img">
      <form action="/delete-photo-from-album/{{album.album_id}}/{{photo.photo_id}}">
        <button id="remove-icon"><i class="fa far fa-times-circle fa-lg" style="background:transparent"></i></button>
      </form>
      <a href="/photodetails/{{photo.photo_id}}">
        <img class="library-img" id="library-id" src= {{ photo.path }}>
      </a>
      
    </div>
  {% endfor %}

{% endblock %}