

<!doctype html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
    {% block head %}{% endblock %}
  </head>
  <body>

    <form action="/return_to_library">
      <button name="home">My library</button>
    </form>

    <div>
      <form action="/search" method="POST">
        Search <input type="text" name="search">
        <button>Go!</button>
      </form>
    </div>

    <div>
      <form action="/logout" method="POST">
        <button>Logout</button>
      </form>
    </div>
    {% block body %}

    
    {% endblock %}

    {% block after_body %}{% endblock %}
    <script src="/static/JS/photos.js"></script>
  </body>
</html>