<!doctype html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>
    </title>
  </head>
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
  </head>
  <body>

    <h1>Landing Page</h1>

    <h2>Create an Account</h2>

    <form action="/user" method="POST">
        <p>
          First name <input type="text" name="fname">
        </p>
        <p>
          Last name <input type="text" name="lname">
        </p>
        <p>
          Email <input type="text" name="email">
        </p>
        <p>
          Password <input type="password" name="password">
        </p>
  
        <p>
          <input type="submit">
        </p>
      </form>
  
      <h2>Log In</h2>
      <form action="/login">
        <p>
          Email <input type="text" name="login_email">
        </p>
  
        <p>
          Password <input type="password" name="login_password">
        </p>
  
        <p>
          <input type="submit">
        </p>
      </form>

    <script src="/static/JS/photos.js"></script>
  </body>
</html>