<!doctype html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
      crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=League+Script&display=swap" rel="stylesheet"> 
    <title>
    </title>
  </head>
    <style> 
      body {
        background-image: url("/static/img/background.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-color: rgb(46, 46, 46);
        color: black
      }

      img {
        max-width: 100%;
        max-height: auto;
      }

      h1 {
        color: black
      }

      #login-page input[type=text], input[type=password] {
        background-color: white;
        color: black;
        border: none;
        text-align: center;
      }



      /* .modal {
      } */

      </style>
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
  </head>
  <body>

    <!-- <h1>Landing Page</h1> -->
    <div id="login-page">
    <p id="logo-cover">ember</p>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#create-new-account">
        Create an account
      </button>

      <!-- Modal -->
      <div class="modal fade loginpage-modal" id="create-new-account" tabindex="-1" role="dialog" aria-labelledby="create-new-account" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <!-- Modal content -->
          <div class="modal-content loginpage-modal rounded-0">
            <div class="modal-header">
              <h4 class="modal-title white-text w-100 font-weight-bold py-2">Create an account</h4>

              <!-- <h5 class="modal-title" id="exampleModalLongTitle">Create an account</h5> -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- New account form -->
              <form action="/user" method="POST">
                <p><input type="text" name="fname" id="fname-field"placeholder="First name"></p>
                <p><input type="text" name="lname" id="lname-field"placeholder="Last name"></p>
                <p><input type="text" name="email" id="email-field" placeholder="Email"></p>
                <p><input type="password" name="password" id="password-field" placeholder="Password"></p>
                <p><input type="submit"></p>
              </form>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Login</button>
            </div> -->
          </div>
        </div>
      </div>

                <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-dark" id="login-button" data-toggle="modal" data-target="#login">
        Login
      </button>

      <!-- Modal -->
      <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <!-- Modal content -->
          <div class="modal-content loginpage-modal rounded-0">
            <div class="modal-header">
              <h4 class="modal-title white-text w-100 font-weight-bold py-2">Login</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Login form -->
              <form action="/login">
                <p><input type="text" name="login_email" id="login-email-field" placeholder="Email"></p>
                <p><input type="password" name="login_password" id="login-password-field" placeholder="Password"></p>
                <p><input type="submit"></p>
              </form>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Login</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>


      


 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
      crossorigin="anonymous"></script>
    <script src="/static/JS/photos.js"></script>
  </body>
</html>