{% extends 'base.html' %}

{% block title %}
Library
{% endblock %}


{% block sidebar %}
{% endblock %}


{% block body %}
            

  <div id="filter-rating-div">
    <form action="/filterby/rating" method="POST">
        FILTER BY RATING:
        <input type="radio" name="equality-symbol" value="equals">
        <label>=</label>
        <input type="radio" name="equality-symbol" value="greater">
        <label>≥</label>
        <input type="radio" name="equality-symbol" value="less">
        <label>≤</label>

        <input type="radio" name="filter-rating" value="1">
        <label>1</label>
        <input type="radio" name="filter-rating" value="2">
        <label>2</label>
        <input type="radio" name="filter-rating" value="3">
        <label>3</label>
        <input type="radio" name="filter-rating" value="4">
        <label>4</label>
        <input type="radio" name="filter-rating" value="5">
        <label>5</label>
        <input type="submit">
    </form>
  </div>

  {% for photo in photos %}
    <div class="library">
      <div id="date">{{photo.print_date}}</div>
        <a id="album-link" href="/photodetails/{{photo.photo_id}}">
          <img class="library-img" id="library-id" src= {{ photo.path }}>
        </a>
    </div>
  {% endfor %}


{% endblock %}