{% extends 'base.html' %}

{% block title %}
Library
{% endblock %}


{% block body %}
<h1>Library</h1>

<form action="/library" method="post" enctype="multipart/form-data">
  <div>
    <label for="test_image">Choose file to upload</label>
    <input type="file" id="test_image" name="test_image"
          accept=".jpg, .jpeg, .png">
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>

<form action="/add_album">
  <div>
    <label>Add new album</label>
    <input type="text" name="new_album_name">
      <button>Add album</button>
  </div>
</form>

{% for album in albums %}
  <div>
    <ul>
      <li>
        <a href ="/library/{{ album.album_id }}"> {{album.name}} 
        </a>
      </li>
    </ul>
  </div>
{% endfor %}

<!-- <a href="/session">Session</a>

<p>My user id = {{session['user_id']}}</p>
<p>My email is = {{session['email']}}</p> -->

{% for photo in photos %}
  <div class="library">
    <img class="library_img" src= {{ photo.path }}>
  </div>
{% endfor %}


{% endblock %}