{% extends 'base.html' %}

{% block title %}
Library
{% endblock %}


{% block body %}
<h1>Library</h1>

<form action="/library" method="post" enctype="multipart/form-data">
  <div>
    <label for="test_image">Choose file to upload</label>
    <input type="file" id="test_image" name="test_image"
          accept=".jpg, .jpeg, .png">
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>

<a href="/session">Session</a>

<p>My user id = {{session['user_id']}}</p>
<p>My email is = {{session['email']}}</p>

<div>
  <!-- <img src={test_image} -->
</div>

{% endblock %}