{% extends 'base.html' %}

{% block title %}
Photo
{% endblock %}


{% block sidebar %}
<div id="rating-div">
    <form action="/rating/{{photo.photo_id}}" method="POST">
        <div class="form-group" id="star-radios">
            <label id="rating" for="rating"></label>
            <span class="star-rating star-5" id="sidebar-star-span">
                <input type="radio" id="option5" name="star-radios" value="5">
                    <label class="label_star" id="option5_label" for="option5"></label>
                <input type="radio" id="option4" name="star-radios" value="4">
                    <label class="label_star" id="option4_label" for="option4"></label>
                <input type="radio" id="option3" name="star-radios" value="3">
                    <label class="label_star" id="option3_label" for="option3"></label>
                <input type="radio" id="option2" name="star-radios" value="2">
                    <label class="label_star" id="option2_label" for="option2"></label>
                <input type="radio" id="option1" name="star-radios" value="1">
                    <label class="label_star" id="option1_label" for="option1"></label>
            </span>
        </div>
        <script type="text/javascript">
            var preSelectRating = {{photo.rating}};
            $(function(){
                $('input[name=star-radios][value=' + preSelectRating + ']').prop('checked',true)
            });
         </script>
    </form>
</div>


<div id="add-to-album-div">
    <div id="collapse-albums-div">
        <span id="album-plus">
            <div id="add-to-album-title">
                ADD TO ALBUM
            </div>
            <span data-toggle="tooltip" data-placement="bottom" title="Add to album">
                <button type="button" class="plus-button" data-toggle="collapse" data-target="#collapse-add-to-album" aria-expanded="false" aria-controls="collapse-add-to-album">
                    <i class="fa fas fa-plus fa-sm" style="color: white"></i>
                </button>
            </span>
        </span>
        <div class="collapse" id="collapse-add-to-album">
            <div class="card card-body">
                <div id="add-to-album-radios">
                    <form id='add-to-album-form' action="/add-to-album/{{photo.photo_id}}", method="POST">
                        {% for album in albums %}
                            <p>
                                <input type="radio" id="{{ album.name }}" name="add-to-album" value="{{ album.name }}">
                                <label for="{{ album.name }}">{{ album.name }}</label>
                            </p>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tags-div">

    <div id="existing-tags">
        <!-- <span data-toggle="tooltip" data-placement="bottom" title="Open tags">
            <button type="button" data-toggle="collapse" data-target="#collapse-tags" aria-expanded="false" aria-controls="collapse-tags">
                <i class="fa fa-tag fa-lg" style=color:white></i>
            </button>
        </span>
        <div class="collapse" id="collapse-tags">
            <div class="card card-body"> -->
                <div id="add-tag-div">
                    <span id="tags-plus">
                        TAGS
                        <span data-toggle="tooltip" data-placement="bottom" title="Add new tag">
                            <button type="button" class="plus-button" data-toggle="collapse" data-target="#collapse-add-tag" aria-expanded="false" aria-controls="collapse-add-tag">
                                <i class="fa fas fa-plus fa-sm" style="color: white"></i>
                            </button>
                        </span>
                    </span>
                    <div class="collapse" id="collapse-add-tag">
                        <div class="card card-body">
                            <div id="add-tag-div">
                                <form id="add-tag-form" action="/tag/{{photo.photo_id}}", method="POST">
                                    <input type="text" placeholder="ADD TAG" name="tag-text">
                                    <button id='add-tag'></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="individual-tag-div">
                    {% for tag in tags %}
                    <form action="/delete-tag/{{photo.photo_id}}/{{tag.tag_id}}">
                        <p> 
                            <button >
                                <div>
                                    <li><span style="background:transparent" data-toggle="tooltip" data-placement="right" title="Remove tag">
                                    {{tag.tagword}}
                                    </span></li>
                                </div>
                            </button>
                        </p>
                    </form>  
                    {% endfor %} 
                </div> 
            </div>
        </div>
 

{% endblock %}


{% block body %}


        <div id="photo-column">
           
            
            <div id="selected-photo-div">
                <div id="previous-column">
                    <div id="previous-button-div">
                        <button type="submit" id="previous" ><i class="fa fa-angle-double-left fa-3x" style="color:white" data-toggle="tooltip" data-placement="bottom" title="Previous photo"></i></button>
                    </div>
                </div>

                <div id="next-column">
                    <div id="next-button-div">
                        <button type="submit" id="next" ><i class="fa fa-angle-double-right fa-3x" style="color:white" data-toggle="tooltip" data-placement="bottom" title="Next photo"></i></button>
                    </div>
                </div>

                <img id='large-photo' src={{ photo.path }}>

                <!-- absolute position -->
                <form action="/delete_photo/{{photo.photo_id}}", method="POST">
                    <button id="delete"><i class="far fa-trash-alt fa-2x" style="color:white" data-toggle="tooltip" data-placement="bottom" title="Delete"></i></button>
                </form>

            </div>
                
            
        </div>

{% endblock %}