{% extends 'base.html' %}

{% block title %}
Photo
{% endblock %}


{% block body %}
<h1>Photo</h1>

<form action="/delete_photo/{{photo.photo_id}}", method="POST">
    <button id="delete">Delete photo</button>
</form>

<form action="/rating/{{photo.photo_id}}" method="POST">
    <p>
        Rating:
    </p>
        <input type="radio" name="rating" value="1">
        <label>1</label>
        <input type="radio" name="rating" value="2">
        <label>2</label>
        <input type="radio" name="rating" value="3">
        <label>3</label>
        <input type="radio" name="rating" value="4">
        <label>4</label>
        <input type="radio" name="rating" value="5">
        <label>5</label>
        <input type="submit">
</form>
<div>
    <p>Rating : {{photo.rating}} </p>
</div>

<div>
    <form action="/{{photo.photo_id}}/add-to-album", method="POST">
        Add to album:
            <select name="add-to-album">
                {% for album in albums %}
                    <option value="{{ album.name }}"> {{ album.name }}</option>
                {% endfor %}
            </select>
        <input type="submit">
    </form>
</div>

<div>
    <form action="/tag/{{photo.photo_id}}", method="POST">
        <input type="text" name="tag-text">
        <button id='add-tag'>Add a keyword</button>
    </form>
</div>

<div>
    {% for tag in tags %}
        <p>{{tag.tagword}}</p>
    {% endfor %}
</div>

<div>
    <img id='large-photo' src={{ photo.path }}>
</div>
<div>
    <button type="submit" id="previous">Previous photo</button>
    <button type="submit" id="next">Next photo</button>
</div>

{% endblock %}