<div class="flex-container-sidebar">
    <p><a routerLink="library">Library</a></p>
    <div id="side-nav">
        <div id="add-photo-div">
            <div id="upload-photo-button-div" data-toggle="tooltip" data-placement="bottom" title="Choose file">
                UPLOAD PHOTO
                <button class="plus-button">+</button>
            </div>

        </div>

        <app-albums></app-albums>
        <app-add-to-album></app-add-to-album>
        <app-ratings></app-ratings>
        <app-tags></app-tags>

    </div>
</div>
<!-- <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
</div>
<div class="files-list" *ngFor="let file of files;let i= index">
    <p> {{ file }} </p>
    <button class="delete-file" (click)="deleteAttachment(i)">
        <img src="https://cdn0.iconfinder.com/data/icons/thin-essentials/57/thin-059_recycle_bin_delete_garbage_full-512.png">
    </button>
</div> -->