<div id="album-div">
    <div id="add-album-div" data-toggle="tooltip" data-placement="bottom" title="Add new album">
        ALBUMS
        <button type="button" class="plus-button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
            +
        </button>
    </div>

    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card">
            <div class="card-body">
                <p><input type="text" name="new_album_name" placeholder="NEW ALBUM NAME" id="add-album-button"></p>
            </div>
        </div>
    </div>

    <a *ngFor="let album of albums" routerLink="/album/{{album.album_id}}">
        <div>
            {{ album.name }}
        </div>
    </a>
</div>