<div id="album-div">
    <div id="add-album-div">
        ALBUMS
        <!-- <button class="plus-button">+</button> -->

        <span data-toggle="tooltip" data-placement="bottom" title="Add new album">
            <button class="plus-button" type="button" id="add-album-button" data-toggle="modal"
                data-target="#add-album">
                <div>
                    +
                    <!-- <fa-icon [icon]="faPlus"></fa-icon> -->
                </div>
            </button>
        </span>
    </div>



    <form>
        <p><input type="text" name="new_album_name" placeholder="NEW ALBUM NAME" id="add-album-button"></p>
    </form>

    <a *ngFor="let album of albums" routerLink="/album/{{album.album_id}}">
        <div>
            {{ album.name }}
        </div>
    </a>
</div>