<div>
    <nav class="navbar navbar-expand-lg navbar-dark flex-container-navbar">
        <p><a class="navbar-brand" id="logo" routerLink="">ember</a></p>

        <div id="search-div">

            <span id="filter-button" data-toggle="tooltip" data-placement="bottom" title="Filter">
                <button type="button" class="plus-button" (click)="collapse.toggle()"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" data-toggle="tooltip"
                    data-placement="bottom" title="Filter">
                    <fa-icon [icon]="faFilter" class="fa-lg"></fa-icon>
                </button>
            </span>

            <form>
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" id="search-box" type="text" placeholder="SEARCH"
                        [(ngModel)]="searchword" name="search" onfocus="value=''" (keyup.enter)="search()">
                </div>
            </form>

            <button class="btn my-2 my-sm-0" type="submit" data-toggle="tooltip" data-placement="bottom"
                title="Search by keyword" (click)=search()>
                <fa-icon [icon]="faSearch" class="fa-lg" style="color: white"></fa-icon>
            </button>

            <!-- <input class="form-control mr-sm-2" type="search" placeholder="SEARCH" aria-label="Search" name="search"> -->


        </div>
        <div class="logout-div">
            <button class="btn btn-outline-light my-2 my-sm-0">LOGOUT</button>
        </div>
    </nav>
</div>

<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
        <div class="card-body">
            <div id="equality-icons">
                <input type="radio" [(ngModel)]="equality" value="equals" name="equality" (ngModelChange)=setFilter()>
                <fa-icon [icon]="equals" class="fa-sm"></fa-icon>
                <input type="radio" [(ngModel)]="equality" value="greater" name="equality" (ngModelChange)=setFilter()>
                <fa-icon [icon]="greater" class="fa-sm"></fa-icon>
                <input type="radio" [(ngModel)]="equality" value="less" name="equality" (ngModelChange)=setFilter()>
                <fa-icon [icon]="less" class="fa-sm"></fa-icon>
            </div>
            <div class="rating-stars">
                <ngb-rating [(rate)]="currentRating" [max]=5 (rateChange)=setFilter()></ngb-rating>
            </div>
        </div>
    </div>
</div>